<nav class="navigation left">
  <ul class="links">
    <li class="links item">
      <a href="/#open" class="link-item" title="link to {{@blog.title}} blog" id="blog-button">博客</a>
    </li>
  </ul>
</nav>
